<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info new user</title>
</head>
<body>
<form action=""  method="post">
    <table>
        <tr>
            <td colspan="2">
                <h2 style="text-align: center">Add new user</h2>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" required></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Add</button></td>
        </tr>
    </table>
</form>

</body>
</html>